manifest {
    homePage = 'https://github.com/iarcbioinfo/gatk4-DataPreProcessing-nf'
    description = 'Nextflow pipeline for pre-process BAM with hg38 and GATK4'
    mainScript = 'gatk4-DataPreProcessing.nf'
}

profiles {

    local {
        process.executor = 'local'
    }

    cobalt {
        env {
            TMPnf = "$CCCSCRATCHDIR"
        }

        executor.name = 'slurm'
        executor.queueSize = 100
		
		process.queue = 'broadwell'
        process.cache = 'lenient'
		
		process {
			withName: PICARD_FixMate {
				module = 'extenv/fg:picard-tools/2.6.0'
			}
		}
		process {
			withName: PICARD_SamToFastq {
				module = 'extenv/fg:picard-tools/2.6.0'
			}
		}
		process {
			withName: BWA_mapping {
				module = 'extenv/fg:bwakit/0.7.15:sambamba/0.6.5'
			}
        }    
		process {
			withName: SAMBAMBA_markdup {
				module = 'extenv/fg:sambamba/0.6.5'
			}
        }
		process {
			withName: GATK_BaseRecalibrator_ApplyBQSR {
				module = 'extenv/fg:samtools/1.9:picard-tools/2.6.0'
			}
        }
		process {
			withName: QUALIMAP_BamQC {
				module = 'extenv/fg:samtools/1.9:qualimap/2.1.1'
			}
        }
    }

    jupiter {
        env {
            BWAKIT_EXEDIR = '/appli57/bwa/bwa-0.7.15/bwakit'
            TMPnf = '/tmp'
        }

        executor.name = 'lsf'
        executor.queueSize = 50
		executor.perJobMemLimit = true

	}

}

